In [2]:
import pandas as pd
import numpy as np
import re

# Cleaning EV database

In [3]:
ev = pd.read_csv(r"C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_population_data.csv", encoding='latin1')
ev.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EA0K,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,5.306701e+10
1,1N4BZ1DV4N,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,5.302997e+10
2,5YJ3E1EA0L,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,5.306105e+10
3,5YJ3E1EBXL,King,Seattle,WA,98134.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,6336319,POINT (-122.32981499999994 47.579810000000066),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1CP0D,Snohomish,Edmonds,WA,98020.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,69900.0,21.0,186212960,POINT (-122.37507 47.80807000000004),PUGET SOUND ENERGY INC,5.306105e+10

In [4]:
ev.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,135030.000000,135038.000000,135037.000000,135037.000000,134726.000000,1.350380e+05,1.350300e+05
mean,98171.001577,2019.662880,74.591964,1448.407325,29.504379,2.063432e+08,5.297233e+10
std,2450.367211,3.001676,98.744120,9683.658138,14.783780,8.582417e+07,1.635783e+09
min,1730.000000,1997.000000,0.000000,0.000000,1.000000,4.385000e+03,1.081042e+09
25%,98052.000000,2018.000000,0.000000,0.000000,18.000000,1.606305e+08,5.303301e+10
50%,98121.000000,2021.000000,21.000000,0.000000,34.000000,2.059563e+08,5.303303e+10
75%,98370.000000,2022.000000,150.000000,0.000000,43.000000,2.308888e+08,5.305307e+10
max,99701.000000,2024.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.603300e+10

In [5]:
ev.isnull().sum()

VIN (1-10)                                             0
County                                                 8
City                                                   8
State                                                  0
Postal Code                                            8
Model Year                                             0
Make                                                   0
Model                                                249
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         1
Base MSRP                                              1
Legislative District                                 312
DOL Vehicle ID                                         0
Vehicle Location                                      10
Electric Utility                                       8
2020 Census Tract                                      8
dtype: int64

In [6]:
ev.dtypes

VIN (1-10)                                            object
County                                                object
City                                                  object
State                                                 object
Postal Code                                          float64
Model Year                                             int64
Make                                                  object
Model                                                 object
Electric Vehicle Type                                 object
Clean Alternative Fuel Vehicle (CAFV) Eligibility     object
Electric Range                                       float64
Base MSRP                                            float64
Legislative District                                 float64
DOL Vehicle ID                                         int64
Vehicle Location                                      object
Electric Utility                                      object
2020 Census Tract                                    float64
dtype: object

In [7]:
ev['Postal Code'] = ev['Postal Code'].astype(str)
ev['2020 Census Tract'] = ev['2020 Census Tract'].astype(str)

### change column

In [8]:
ev = ev.drop('VIN (1-10)', axis=1)

In [9]:
ev.columns = [col.lower().replace(' ', '_') for col in ev.columns]

In [10]:
ev = ev.rename(columns={'clean_alternative_fuel_vehicle_(cafv)_eligibility':'cafv_eligibility'})
ev.head()

,county,city,state,postal_code,model_year,make,model,electric_vehicle_type,cafv_eligibility,electric_range,base_msrp,legislative_district,dol_vehicle_id,vehicle_location,electric_utility,2020_census_tract
0,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,53067010910.0
1,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,53029972000.0
2,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,53061052502.0
3,King,Seattle,WA,98134.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,6336319,POINT (-122.32981499999994 47.579810000000066),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),53033009300.0
4,Snohomish,Edmonds,WA,98020.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,69900.0,21.0,186212960,POINT (-122.37507 47.80807000000004),PUGET SOUND ENERGY INC,53061050403.0

In [11]:
ev['country'] = 'USA'
ev.head()

,county,city,state,postal_code,model_year,make,model,electric_vehicle_type,cafv_eligibility,electric_range,base_msrp,legislative_district,dol_vehicle_id,vehicle_location,electric_utility,2020_census_tract,country
0,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,53067010910.0,USA
1,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,53029972000.0,USA
2,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,53061052502.0,USA
3,King,Seattle,WA,98134.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,6336319,POINT (-122.32981499999994 47.579810000000066),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),53033009300.0,USA
4,Snohomish,Edmonds,WA,98020.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,69900.0,21.0,186212960,POINT (-122.37507 47.80807000000004),PUGET SOUND ENERGY INC,53061050403.0,USA

In [46]:
ev['model'].unique()

array(['MODEL 3', 'LEAF', 'MODEL S', 'I3', 'Q5 E', 'PRIUS PRIME', 'NIRO',
       'MODEL Y', '500', 'C-MAX', 'MODEL X', 'VOLT', 'X5', 'FUSION',
       'IONIQ', 'X3', 'XC90', 'FOCUS', 'I8', 'BOLT EV', 'E-TRON', 'RAV4',
       'A3', 'XC60', 'F-150', 'E-GOLF', 'S90', 'XC40', 'PACIFICA',
       'RAV4 PRIME', 'FORTWO', 'KONA ELECTRIC', 'ID.4', 'SPARK', 'R1S',
       '330E', 'SOLTERRA', 'WRANGLER', 'C40', 'CLARITY', 'IONIQ 5',
       'MUSTANG MACH-E', 'AVIATOR', 'AIR', 'SORENTO', 'EV6', 'EDV',
       'CAYENNE', 'ESCAPE', 'S60', 'OUTLANDER', 'Q4', 'PS2',
       'FORTWO ELECTRIC DRIVE', 'PRIUS PLUG-IN', nan, 'EQS-CLASS SEDAN',
       'BOLT EUV', 'BZ4X', 'R1T', 'OPTIMA', 'TAYCAN', 'I4', 'COUNTRYMAN',
       'EQ FORTWO', 'PANAMERA', 'IX', 'ARIYA', 'SOUL', '530E', 'I-MIEV',
       'EQB-CLASS', 'HARDTOP', 'GRAND CHEROKEE', 'S-CLASS', 'E-TRON GT',
       'SOUL EV', 'CORSAIR', 'B-CLASS', 'I-PACE', 'E-TRON SPORTBACK',
       'TRANSIT', 'ELR', 'GLE-CLASS', 'SANTA FE', 'KONA', 'Q5', 'NX',
       'ROADSTER', 'SONATA', 'EQS-CLASS SUV', 'GLC-CLASS', 'G80', 'GV60',
       'SPORTAGE', 'RS E-TRON GT', '740E', 'WHEEGO', 'CROSSTREK',
       'ACCORD', 'TUCSON', 'LYRIQ', 'IONIQ 6', 'KARMA', 'CX-90',
       'FLYING SPUR', 'CITY', 'CT6', 'V60', 'RANGE ROVER SPORT', 'A7',
       'RANGER', 'RANGE ROVER', 'PRIUS', 'EQE-CLASS SEDAN', '745E',
       '745LE', 'C-CLASS', 'RZ 450E', 'TRANSIT CONNECT ELECTRIC', '918',
       'BENTAYGA', 'Q8', 'A8 E', 'GV70', 'S-10 PICKUP'], dtype=object)

# Cleaning EV Prices

In [13]:
ev_prices = pd.read_csv(r"C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_prices_scraping.csv", encoding='latin1')
ev_prices

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price
0,2023 Audi e-tron GT quattro 20-inch,"$104,900","+$1,495",NaN,"$106,395"
1,2023 Audi RS e-tron GT quattro 20-inch,"$143,900","+$1,495",NaN,"$145,395"
2,2024 Audi Q8 e-tron 20-inch,"$74,400","+$1,195",NaN,"$75,595"
3,2024 Audi Q8 e-tron Sportback (Ultra pack) 19-...,"$77,800","+$1,195",NaN,"$78,995"
4,2024 Audi Q8 e-tron Sportback 20-inch,"$77,800","+$1,195",NaN,"$78,995"
...,...,...,...,...,...
212,2023 Volvo XC40 Recharge 19-inch,"$53,550","+$1,095",NaN,"$54,645"
213,2024 Volvo C40 Recharge RWD 19-inch,NaN,NaN,NaN,NaN
214,2024 Volvo C40 Recharge AWD 19-inch,NaN,NaN,NaN,NaN
215,2024 Volvo XC40 Recharge RWD 19-inch,NaN,NaN,NaN,NaN
216,2024 Volvo XC40 Recharge AWD 19-inch,NaN,NaN,NaN,NaN

In [14]:
ev_prices.dtypes

Model              object
Base Price         object
Dest. Charge       object
Tax Credit         object
Effective Price    object
dtype: object

In [15]:
ev_prices.describe()

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price
count,217,205,205,37,205
unique,217,175,22,2,179
top,2023 Audi e-tron GT quattro 20-inch,"$107,400","+$1,800","$7,500","$79,050"
freq,1,4,37,20,3

In [16]:
ev_prices.isnull().sum()

Model                0
Base Price          12
Dest. Charge        12
Tax Credit         180
Effective Price     12
dtype: int64

### separating the year, brand, and model from model column

In [17]:
def extract_details_and_add(df, column_name):    
    pattern = r'(?P<Year>\d{4}) (?P<Brand>\w+) (?P<Model>.*?)( \d+|$)'

    details = df[column_name].str.extract(pattern, expand=True)

    df['Year'] = details['Year']
    df['Brand'] = details['Brand']
    df['Model'] = details['Model']

    return df

In [18]:
ev_prices = extract_details_and_add(ev_prices, 'Model')
ev_prices

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price,Year,Brand
0,e-tron GT quattro,"$104,900","+$1,495",NaN,"$106,395",2023,Audi
1,RS e-tron GT quattro,"$143,900","+$1,495",NaN,"$145,395",2023,Audi
2,Q8 e-tron,"$74,400","+$1,195",NaN,"$75,595",2024,Audi
3,Q8 e-tron Sportback (Ultra pack),"$77,800","+$1,195",NaN,"$78,995",2024,Audi
4,Q8 e-tron Sportback,"$77,800","+$1,195",NaN,"$78,995",2024,Audi
...,...,...,...,...,...,...,...
212,XC40 Recharge,"$53,550","+$1,095",NaN,"$54,645",2023,Volvo
213,C40 Recharge RWD,NaN,NaN,NaN,NaN,2024,Volvo
214,C40 Recharge AWD,NaN,NaN,NaN,NaN,2024,Volvo
215,XC40 Recharge RWD,NaN,NaN,NaN,NaN,2024,Volvo
216,XC40 Recharge AWD,NaN,NaN,NaN,NaN,2024,Volvo

### removing 'Tax Credit' column

In [19]:
ev_prices = ev_prices.drop('Tax Credit', axis=1)

In [20]:
ev_prices.head()

,Model,Base Price,Dest. Charge,Effective Price,Year,Brand
0,e-tron GT quattro,"$104,900","+$1,495","$106,395",2023,Audi
1,RS e-tron GT quattro,"$143,900","+$1,495","$145,395",2023,Audi
2,Q8 e-tron,"$74,400","+$1,195","$75,595",2024,Audi
3,Q8 e-tron Sportback (Ultra pack),"$77,800","+$1,195","$78,995",2024,Audi
4,Q8 e-tron Sportback,"$77,800","+$1,195","$78,995",2024,Audi

### changing column names

In [21]:
ev_prices = ev_prices.rename(columns={
    'Model': 'model',
    'Base Price': 'base_price',
    'Dest. Charge': 'delivery_charge',
    'Effective Price': 'final_price',
    'Year': 'year',
    'Brand': 'brand'
})

### cleaning prices columns

In [22]:
columns_to_clean ={
    'base_price', 'delivery_charge', 'final_price'
}

In [23]:
def clean_price_columns(df, columns):
    for column in columns:
        
        df[column] = df[column].astype(str).str.replace(r'[^0-9.-]', '', regex=True)

        df[column] = pd.to_numeric(df[column], errors='coerce')

    return df


ev_prices = clean_price_columns(ev_prices, columns_to_clean)

In [24]:
ev_prices.head()

,model,base_price,delivery_charge,final_price,year,brand
0,e-tron GT quattro,104900.0,1495.0,106395.0,2023,Audi
1,RS e-tron GT quattro,143900.0,1495.0,145395.0,2023,Audi
2,Q8 e-tron,74400.0,1195.0,75595.0,2024,Audi
3,Q8 e-tron Sportback (Ultra pack),77800.0,1195.0,78995.0,2024,Audi
4,Q8 e-tron Sportback,77800.0,1195.0,78995.0,2024,Audi

### checking nans

In [25]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

36

In [26]:
rows_with_nan = ev_prices[ev_prices['base_price'].isna()]
rows_with_nan

,model,base_price,delivery_charge,final_price,year,brand
27,F-150 Lightning Pro ER (fleets),NaN,NaN,NaN,2023,Ford
81,Endurance,NaN,NaN,NaN,2023,Lordstown
147,"R1S DM AWD, Max Pack, AT",NaN,NaN,NaN,2023,Rivian
148,"R1S DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
149,"R1S DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
153,"R1S Perf. DM AWD, Max Pack, AT",NaN,NaN,NaN,2023,Rivian
154,"R1S Perf. DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
155,"R1S Perf. DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
213,C40 Recharge RWD,NaN,NaN,NaN,2024,Volvo
214,C40 Recharge AWD,NaN,NaN,NaN,2024,Volvo
215,XC40 Recharge RWD,NaN,NaN,NaN,2024,Volvo
216,XC40 Recharge AWD,NaN,NaN,NaN,2024,Volvo

### adding base_prices found on websites

In [27]:
base_prices = {
    'F-150 Lightning Pro ER (fleets)': 54369,
    'Endurance': 65060,  
    'R1S DM AWD, Max Pack, AT': 78000,
    'R1S DM AWD, Max Pack': 78000,
    'R1S Perf. DM AWD, Max Pack, AT': 99000, 
    'R1S Perf. DM AWD, Max Pack': 99000,  
    'R1S DM AWD, Max Pack,': 94000,  
    'R1S Perf. DM AWD, Max Pack,': 99000,  
    'C40 Recharge RWD': 53600,  
    'C40 Recharge AWD': 53600,  
    'XC40 Recharge RWD': 52450,  
    'XC40 Recharge AWD': 54200  
}

### updating base_price

In [28]:
def update_base_price(row):
    model = row['model']
    return base_prices.get(model, row['base_price'])

ev_prices['base_price'] = ev_prices.apply(update_base_price, axis=1)

In [29]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

24

### same with delivery_charge

In [30]:
delivery_charge = {
    'F-150 Lightning Pro ER (fleets)': 1895,
    'Endurance': 1800, 
    'R1S DM AWD, Max Pack, AT': 1800,
    'R1S DM AWD, Max Pack': 1800,
    'R1S Perf. DM AWD, Max Pack, AT': 1800,
    'R1S Perf. DM AWD, Max Pack': 1800,
    'R1S DM AWD, Max Pack,': 1800,  
    'R1S Perf. DM AWD, Max Pack,': 1800, 
    'C40 Recharge RWD': 1750,  
    'C40 Recharge AWD': 1750,
    'XC40 Recharge RWD': 1750,
    'XC40 Recharge AWD': 1750
}

### updating delivery_price

In [31]:
def update_delivery_price(row):
    model = row['model']
    return delivery_charge.get(model, row['delivery_charge'])

ev_prices['delivery_charge'] = ev_prices.apply(update_delivery_price, axis=1)

In [32]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

12

### updating final_price

In [33]:
ev_prices['final_price'] = ev_prices['base_price'] + ev_prices['delivery_charge']

In [34]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

0

In [35]:
ev_prices['brand'] = ev_prices['brand'].str.upper()

In [36]:
ev_prices.head()

,model,base_price,delivery_charge,final_price,year,brand
0,e-tron GT quattro,104900.0,1495.0,106395.0,2023,AUDI
1,RS e-tron GT quattro,143900.0,1495.0,145395.0,2023,AUDI
2,Q8 e-tron,74400.0,1195.0,75595.0,2024,AUDI
3,Q8 e-tron Sportback (Ultra pack),77800.0,1195.0,78995.0,2024,AUDI
4,Q8 e-tron Sportback,77800.0,1195.0,78995.0,2024,AUDI

In [48]:
ev_prices['model'].unique()

array(['e-tron GT quattro', 'RS e-tron GT quattro', 'Q8 e-tron',
       'Q8 e-tron Sportback (Ultra pack)', 'Q8 e-tron Sportback', 'Q4',
       'Q4 Sportback', 'i4 eDrive35', 'i4 eDrive40', 'i4 M50',
       'i7 xDrive60', 'iX xDrive50', 'iX M60', 'Lyriq Tech RWD',
       'Lyriq Tech AWD', 'Bolt EV', 'Bolt EUV LT',
       'F-150 Lightning Pro SR', 'F-150 Lightning Pro ER (fleets)',
       'F-150 Lightning XLT SR', 'F-150 Lightning XLT ER',
       'F-150 Lightning Lariat SR', 'F-150 Lightning Lariat ER',
       'F-150 Lightning Platinum ER', 'Mustang Mach-E Select SR LFP RWD',
       'Mustang Mach-E Select SR LFP AWD',
       'Mustang Mach-E Premium SR LFP RWD',
       'Mustang Mach-E Premium SR LFP AWD',
       'Mustang Mach-E Premium ER RWD', 'Mustang Mach-E Premium ER AWD',
       'Mustang Mach-E Route', 'Mustang Mach-E GT ER AWD',
       'Mustang Mach-E GT Perf. ER AWD', 'Electrified G80 AWD',
       'GV60 Advanced AWD', 'GV60 Performance AWD',
       'Electrified GV70 Advanced AWD', 'Hummer EV Pickup (Edition',
       'Hummer EV Pickup (3X)', 'Hummer EV Pickup (2X)',
       'Hummer EV Pickup (2)', 'Hummer EV SUV (Edition',
       'Hummer EV SUV (3X)', 'Hummer EV SUV (2X)', 'Hummer EV SUV (2)',
       'Ioniq', 'Kona Electric', 'I-PACE EV400', 'EV6 RWD SR',
       'EV6 Wind RWD LR', 'EV6 Wind AWD LR', 'EV6 GT-Line RWD LR',
       'EV6 GT-Line AWD LR', 'EV6 GT AWD LR', 'Niro EV', 'RZ',
       'Endurance', 'Air Pure RWD', 'Air Pure AWD', 'Air Touring AWD',
       'Air Grand Touring AWD', 'Air Grand Touring Performance',
       'Air Sapphire', 'MX-30', 'EQB', 'EQE', 'AMG EQE', 'EQS', 'AMG EQS',
       'Cooper SE Hardtop', 'Ariya Engage FWD (63 kWh)',
       'Ariya Engage e-4ORCE AWD (63 kWh)', 'Ariya Venture+ FWD (87 kWh)',
       'Ariya Evolve+ FWD (87 kWh)', 'Ariya Empower+ FWD (87 kWh)',
       'Ariya Premiere FWD', 'Ariya Engage+ e-4ORCE AWD',
       'Ariya Evolve+ e-4ORCE AWD', 'Ariya Platinum+ e-4ORCE AWD',
       'Leaf S (40 kWh)', 'Leaf e+ SV Plus (60 kWh)', '2 Single Motor',
       '2 Dual Motor', '2 Dual Motor Perf Pack',
       '2 Dual Motor BST edition', 'Taycan (79 kWh)', 'Taycan (93 kWh)',
       'Taycan', 'Taycan GTS (93 kWh)',
       'Taycan GTS Sport Turismo (93 kWh)', 'Taycan Turbo (93 kWh)',
       'Taycan Turbo S (93 kWh)', 'Taycan Turbo Cross Turismo (93 kWh)',
       'Taycan Turbo S Cross Turismo (93 kWh)', 'R1S DM AWD, Std Pack,',
       'R1S DM AWD, Large Pack, AT', 'R1S DM AWD, Large Pack,',
       'R1S DM AWD, Max Pack, AT', 'R1S DM AWD, Max Pack,',
       'R1S Perf. DM AWD, Large Pack, AT',
       'R1S Perf. DM AWD, Large Pack,', 'R1S Perf. DM AWD, Max Pack, AT',
       'R1S Perf. DM AWD, Max Pack,', 'R1S QM AWD, Large Pack, AT',
       'R1S QM AWD, Large Pack,', 'R1T DM AWD, Std Pack,',
       'R1T DM AWD, Large Pack, AT', 'R1T DM AWD, Large Pack,',
       'R1T DM AWD, Max Pack, AT', 'R1T DM AWD, Max Pack,',
       'R1T Perf. DM AWD, Large Pack, AT',
       'R1T Perf. DM AWD, Large Pack,', 'R1T Perf. DM AWD, Max Pack, AT',
       'R1T Perf. DM AWD, Max Pack,', 'R1T QM AWD, Large Pack, AT',
       'R1T QM AWD, Large Pack,', 'Solterra Premium AWD',
       'Solterra Limited AWD', 'Solterra Touring AWD', 'Model',
       'Model S LR AWD', 'Model S Plaid', 'Model X LR AWD',
       'Model X Plaid', 'Model Y AWD (4680)', 'Model Y Long Range AWD',
       'Model Y Perf. LR AWD', 'bZ4X XLE FWD', 'bZ4X Limited FWD',
       'bZ4X XLE AWD', 'bZ4X Limited AWD', 'VF', 'ID.4 Standard',
       'ID.4 S', 'ID.4 Pro', 'ID.4 Pro S', 'ID.4 AWD Pro',
       'ID.4 AWD Pro S', 'C40 Recharge', 'XC40 Recharge',
       'C40 Recharge RWD', 'C40 Recharge AWD', 'XC40 Recharge RWD',
       'XC40 Recharge AWD'], dtype=object)

In [37]:
csv_file_path = r'C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_prices.csv'
ev_prices.to_csv(csv_file_path, index=False)

# Cleaning Ev Sales per Year

In [38]:
ev_sales = pd.read_csv(r"C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_sales_scraping.csv", encoding='latin1')
ev_sales.head()

,Country,2021,2021.1,2020,2020.1,2019,2019.1,2018,2018.1,2017,2017.1
0,Country,stock,sales,stock,sales,stock,sales,stock,sales,stock,sales
1,China[i][ii],"7,842,668 [87][88]","3,334,000 [87]","4,508,668 [88]","1,246,000 [89]","3,349,100 [1]","1,204,000 [90]","2,243,772 [91][92]","1,016,002 [92][i]","1,227,770 [91]","579,000 [93][i]"
2,United States[i],"2,322,291 [16]","607,567 [16]","1,741,566 [94]","297,939 [94]","1,450,020 [1]","329,528 [95]","1,126,000 [96]","361,307 [96]","764,666 [97][98]","199,818 [96]"
3,Germany[i],"Ã¢Â‰Âˆ1,380,000 [18][19]","681,410 [19]","Ã¢Â‰Âˆ700,000 [18]","394,632 [99]","305,589 [32][100][101][102]","108,839 [102]","196,750 [32][100][101]","67,504 [101]","129,246 [32][100]","54,492 [100]"
4,France,"786,274 [103]","315,978 [103]","470,295 [104]","194,881 [104]","275,575 [104]","69,466 [105]","204,617 [52][106][107][108]","53,745 [108]","149,797 [52][106][107]","42,799 [108]"

#### Modifying columns

In [39]:
ev_sales.columns = [col.lower().replace(' ', '_') for col in ev_sales.columns]

In [40]:
def remove_brackets(text):
    return re.sub(r"\[.*?\]", "", text) if isinstance(text, str) else text

for column in ev_sales.columns:
    ev_sales['country'] = ev_sales['country'].apply(remove_brackets)

In [41]:
ev_sales.head()

,country,2021,2021.1,2020,2020.1,2019,2019.1,2018,2018.1,2017,2017.1
0,Country,stock,sales,stock,sales,stock,sales,stock,sales,stock,sales
1,China,"7,842,668 [87][88]","3,334,000 [87]","4,508,668 [88]","1,246,000 [89]","3,349,100 [1]","1,204,000 [90]","2,243,772 [91][92]","1,016,002 [92][i]","1,227,770 [91]","579,000 [93][i]"
2,United States,"2,322,291 [16]","607,567 [16]","1,741,566 [94]","297,939 [94]","1,450,020 [1]","329,528 [95]","1,126,000 [96]","361,307 [96]","764,666 [97][98]","199,818 [96]"
3,Germany,"Ã¢Â‰Âˆ1,380,000 [18][19]","681,410 [19]","Ã¢Â‰Âˆ700,000 [18]","394,632 [99]","305,589 [32][100][101][102]","108,839 [102]","196,750 [32][100][101]","67,504 [101]","129,246 [32][100]","54,492 [100]"
4,France,"786,274 [103]","315,978 [103]","470,295 [104]","194,881 [104]","275,575 [104]","69,466 [105]","204,617 [52][106][107][108]","53,745 [108]","149,797 [52][106][107]","42,799 [108]"

In [51]:
csv_file_path = r'C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_prices2_scraping.csv'
ev_prices2.to_csv(csv_file_path, index=False)

NameError: name 'ev_prices2' is not defined