In [1]:
import pandas as pd
import numpy as np
import re

# Cleaning EV database

In [2]:
ev = pd.read_csv(r"C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_population_data.csv", encoding='latin1')
ev

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EA0K,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,5.306701e+10
1,1N4BZ1DV4N,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,5.302997e+10
2,5YJ3E1EA0L,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,5.306105e+10
3,5YJ3E1EBXL,King,Seattle,WA,98134.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,6336319,POINT (-122.32981499999994 47.579810000000066),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1CP0D,Snohomish,Edmonds,WA,98020.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,69900.0,21.0,186212960,POINT (-122.37507 47.80807000000004),PUGET SOUND ENERGY INC,5.306105e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135033,5YJSA1E29L,King,Yarrow Point,WA,98004.0,2020,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,330.0,0.0,48.0,124776627,POINT (-122.20190499999995 47.61385000000007),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
135034,5YJYGDEE7M,King,Burien,WA,98168.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,33.0,142857676,POINT (-122.28645999999998 47.47613000000007),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303303e+10
135035,5YJSA1E51N,Pierce,Gig Harbor,WA,98335.0,2022,TESLA,MODEL S,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,26.0,220157724,POINT (-122.58354539999999 47.32344880000005),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
135036,KM8KMDAF3P,Grant,Ephrata,WA,98823.0,2023,HYUNDAI,IONIQ 5,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,13.0,223872596,POINT (-119.55512999999996 47.319360000000074),PUD NO 2 OF GRANT COUNTY,5.302501e+10
135037,1FADP5CU4E,Kitsap,Port Orchard,WA,98366.0,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19.0,0.0,26.0,171102032,POINT (-122.63926499999997 47.53730000000007),PUGET SOUND ENERGY INC,5.303509e+10

In [3]:
ev.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,135030.000000,135038.000000,135037.000000,135037.000000,134726.000000,1.350380e+05,1.350300e+05
mean,98171.001577,2019.662880,74.591964,1448.407325,29.504379,2.063432e+08,5.297233e+10
std,2450.367211,3.001676,98.744120,9683.658138,14.783780,8.582417e+07,1.635783e+09
min,1730.000000,1997.000000,0.000000,0.000000,1.000000,4.385000e+03,1.081042e+09
25%,98052.000000,2018.000000,0.000000,0.000000,18.000000,1.606305e+08,5.303301e+10
50%,98121.000000,2021.000000,21.000000,0.000000,34.000000,2.059563e+08,5.303303e+10
75%,98370.000000,2022.000000,150.000000,0.000000,43.000000,2.308888e+08,5.305307e+10
max,99701.000000,2024.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.603300e+10

### change column names

In [4]:
ev.columns = [col.lower().replace(' ', '_') for col in ev.columns]

In [5]:
ev = ev.rename(columns={'VIN (1-10)': 'vin_number', 'clean_alternative_fuel_vehicle_(cafv)_eligibility':'cafv_eligibility'})
ev.head()

,vin_(1-10),county,city,state,postal_code,model_year,make,model,electric_vehicle_type,cafv_eligibility,electric_range,base_msrp,legislative_district,dol_vehicle_id,vehicle_location,electric_utility,2020_census_tract
0,5YJ3E1EA0K,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,5.306701e+10
1,1N4BZ1DV4N,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,5.302997e+10
2,5YJ3E1EA0L,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,5.306105e+10
3,5YJ3E1EBXL,King,Seattle,WA,98134.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,6336319,POINT (-122.32981499999994 47.579810000000066),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1CP0D,Snohomish,Edmonds,WA,98020.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,69900.0,21.0,186212960,POINT (-122.37507 47.80807000000004),PUGET SOUND ENERGY INC,5.306105e+10

In [6]:
ev.dtypes

vin_(1-10)                object
county                    object
city                      object
state                     object
postal_code              float64
model_year                 int64
make                      object
model                     object
electric_vehicle_type     object
cafv_eligibility          object
electric_range           float64
base_msrp                float64
legislative_district     float64
dol_vehicle_id             int64
vehicle_location          object
electric_utility          object
2020_census_tract        float64
dtype: object

In [7]:
ev.isnull().sum()

vin_(1-10)                 0
county                     8
city                       8
state                      0
postal_code                8
model_year                 0
make                       0
model                    249
electric_vehicle_type      0
cafv_eligibility           0
electric_range             1
base_msrp                  1
legislative_district     312
dol_vehicle_id             0
vehicle_location          10
electric_utility           8
2020_census_tract          8
dtype: int64

In [10]:
ev['country'] = 'USA'
ev.head()

,vin_(1-10),county,city,state,postal_code,model_year,make,model,electric_vehicle_type,cafv_eligibility,electric_range,base_msrp,legislative_district,dol_vehicle_id,vehicle_location,electric_utility,2020_census_tract,country
0,5YJ3E1EA0K,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,5.306701e+10,USA
1,1N4BZ1DV4N,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,5.302997e+10,USA
2,5YJ3E1EA0L,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,5.306105e+10,USA
3,5YJ3E1EBXL,King,Seattle,WA,98134.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,6336319,POINT (-122.32981499999994 47.579810000000066),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,USA
4,5YJSA1CP0D,Snohomish,Edmonds,WA,98020.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,69900.0,21.0,186212960,POINT (-122.37507 47.80807000000004),PUGET SOUND ENERGY INC,5.306105e+10,USA

# Cleaning EV Prices

In [2]:
ev_prices = pd.read_csv(r"C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_prices_scraping.csv", encoding='latin1')
ev_prices

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price
0,2023 Audi e-tron GT quattro 20-inch,"$104,900","+$1,495",NaN,"$106,395"
1,2023 Audi RS e-tron GT quattro 20-inch,"$143,900","+$1,495",NaN,"$145,395"
2,2024 Audi Q8 e-tron 20-inch,"$74,400","+$1,195",NaN,"$75,595"
3,2024 Audi Q8 e-tron Sportback (Ultra pack) 19-...,"$77,800","+$1,195",NaN,"$78,995"
4,2024 Audi Q8 e-tron Sportback 20-inch,"$77,800","+$1,195",NaN,"$78,995"
...,...,...,...,...,...
212,2023 Volvo XC40 Recharge 19-inch,"$53,550","+$1,095",NaN,"$54,645"
213,2024 Volvo C40 Recharge RWD 19-inch,NaN,NaN,NaN,NaN
214,2024 Volvo C40 Recharge AWD 19-inch,NaN,NaN,NaN,NaN
215,2024 Volvo XC40 Recharge RWD 19-inch,NaN,NaN,NaN,NaN
216,2024 Volvo XC40 Recharge AWD 19-inch,NaN,NaN,NaN,NaN

In [3]:
ev_prices.dtypes

Model              object
Base Price         object
Dest. Charge       object
Tax Credit         object
Effective Price    object
dtype: object

In [4]:
ev_prices.describe()

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price
count,217,205,205,37,205
unique,217,175,22,2,179
top,2023 Audi e-tron GT quattro 20-inch,"$107,400","+$1,800","$7,500","$79,050"
freq,1,4,37,20,3

In [5]:
ev_prices.isnull().sum()

Model                0
Base Price          12
Dest. Charge        12
Tax Credit         180
Effective Price     12
dtype: int64

### separating the year, brand, and model from model column

In [6]:
def extract_details_and_add(df, column_name):    
    pattern = r'(?P<Year>\d{4}) (?P<Brand>\w+) (?P<Model>.*?)( \d+|$)'

    details = df[column_name].str.extract(pattern, expand=True)

    df['Year'] = details['Year']
    df['Brand'] = details['Brand']
    df['Model'] = details['Model']

    return df

In [7]:
ev_prices = extract_details_and_add(ev_prices, 'Model')
ev_prices

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price,Year,Brand
0,e-tron GT quattro,"$104,900","+$1,495",NaN,"$106,395",2023,Audi
1,RS e-tron GT quattro,"$143,900","+$1,495",NaN,"$145,395",2023,Audi
2,Q8 e-tron,"$74,400","+$1,195",NaN,"$75,595",2024,Audi
3,Q8 e-tron Sportback (Ultra pack),"$77,800","+$1,195",NaN,"$78,995",2024,Audi
4,Q8 e-tron Sportback,"$77,800","+$1,195",NaN,"$78,995",2024,Audi
...,...,...,...,...,...,...,...
212,XC40 Recharge,"$53,550","+$1,095",NaN,"$54,645",2023,Volvo
213,C40 Recharge RWD,NaN,NaN,NaN,NaN,2024,Volvo
214,C40 Recharge AWD,NaN,NaN,NaN,NaN,2024,Volvo
215,XC40 Recharge RWD,NaN,NaN,NaN,NaN,2024,Volvo
216,XC40 Recharge AWD,NaN,NaN,NaN,NaN,2024,Volvo

### removing 'Tax Credit' column

In [8]:
ev_prices = ev_prices.drop('Tax Credit', axis=1)

In [9]:
ev_prices.head()

,Model,Base Price,Dest. Charge,Effective Price,Year,Brand
0,e-tron GT quattro,"$104,900","+$1,495","$106,395",2023,Audi
1,RS e-tron GT quattro,"$143,900","+$1,495","$145,395",2023,Audi
2,Q8 e-tron,"$74,400","+$1,195","$75,595",2024,Audi
3,Q8 e-tron Sportback (Ultra pack),"$77,800","+$1,195","$78,995",2024,Audi
4,Q8 e-tron Sportback,"$77,800","+$1,195","$78,995",2024,Audi

### changing column names

In [10]:
ev_prices = ev_prices.rename(columns={
    'Model': 'model',
    'Base Price': 'base_price',
    'Dest. Charge': 'delivery_charge',
    'Effective Price': 'final_price',
    'Year': 'year',
    'Brand': 'brand'
})

### cleaning prices columns

In [20]:
def clean_price_columns(df, columns):
    for column in columns:
        
        df[column] = df[column].astype(str).str.replace(r'[^0-9.-]', '', regex=True)

        df[column] = pd.to_numeric(df[column], errors='coerce')

    return df


ev_prices = clean_price_columns(ev_prices, columns_to_clean)

In [21]:
ev_prices.head()

,model,base_price,delivery_charge,final_price,year,brand
0,e-tron GT quattro,104900.0,1495.0,106395.0,2023,Audi
1,RS e-tron GT quattro,143900.0,1495.0,145395.0,2023,Audi
2,Q8 e-tron,74400.0,1195.0,75595.0,2024,Audi
3,Q8 e-tron Sportback (Ultra pack),77800.0,1195.0,78995.0,2024,Audi
4,Q8 e-tron Sportback,77800.0,1195.0,78995.0,2024,Audi

### checking nans

In [24]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

36

In [25]:
rows_with_nan = ev_prices[ev_prices['base_price'].isna()]
rows_with_nan

,model,base_price,delivery_charge,final_price,year,brand
27,F-150 Lightning Pro ER (fleets),NaN,NaN,NaN,2023,Ford
81,Endurance,NaN,NaN,NaN,2023,Lordstown
147,"R1S DM AWD, Max Pack, AT",NaN,NaN,NaN,2023,Rivian
148,"R1S DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
149,"R1S DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
153,"R1S Perf. DM AWD, Max Pack, AT",NaN,NaN,NaN,2023,Rivian
154,"R1S Perf. DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
155,"R1S Perf. DM AWD, Max Pack,",NaN,NaN,NaN,2023,Rivian
213,C40 Recharge RWD,NaN,NaN,NaN,2024,Volvo
214,C40 Recharge AWD,NaN,NaN,NaN,2024,Volvo
215,XC40 Recharge RWD,NaN,NaN,NaN,2024,Volvo
216,XC40 Recharge AWD,NaN,NaN,NaN,2024,Volvo

### adding base_prices found on websites

In [40]:
base_prices = {
    'F-150 Lightning Pro ER (fleets)': 54369,
    'Endurance': 65060,  
    'R1S DM AWD, Max Pack, AT': 78000,
    'R1S DM AWD, Max Pack': 78000,
    'R1S Perf. DM AWD, Max Pack, AT': 99000, 
    'R1S Perf. DM AWD, Max Pack': 99000,  
    'R1S DM AWD, Max Pack,': 94000,  
    'R1S Perf. DM AWD, Max Pack,': 99000,  
    'C40 Recharge RWD': 53600,  
    'C40 Recharge AWD': 53600,  
    'XC40 Recharge RWD': 52450,  
    'XC40 Recharge AWD': 54200  
}

### updating base_price

In [41]:
def update_base_price(row):
    model = row['model']
    return base_prices.get(model, row['base_price'])

ev_prices['base_price'] = ev_prices.apply(update_base_price, axis=1)

In [42]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

12

### same with delivery_charge

In [43]:
delivery_charge = {
    'F-150 Lightning Pro ER (fleets)': 1895,
    'Endurance': 1800, 
    'R1S DM AWD, Max Pack, AT': 1800,
    'R1S DM AWD, Max Pack': 1800,
    'R1S Perf. DM AWD, Max Pack, AT': 1800,
    'R1S Perf. DM AWD, Max Pack': 1800,
    'R1S DM AWD, Max Pack,': 1800,  
    'R1S Perf. DM AWD, Max Pack,': 1800, 
    'C40 Recharge RWD': 1750,  
    'C40 Recharge AWD': 1750,
    'XC40 Recharge RWD': 1750,
    'XC40 Recharge AWD': 1750
}

### updating delivery_price

In [44]:
def update_delivery_price(row):
    model = row['model']
    return delivery_charge.get(model, row['delivery_charge'])

ev_prices['delivery_charge'] = ev_prices.apply(update_delivery_price, axis=1)

In [47]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

12

### updating final_price

In [48]:
ev_prices['final_price'] = ev_prices['base_price'] + ev_prices['delivery_charge']

In [49]:
has_nan = ev_prices.isna().any().any()
total_nan = ev_prices.isna().sum().sum()
total_nan

0

In [51]:
ev_prices.head()

,model,base_price,delivery_charge,final_price,year,brand
0,e-tron GT quattro,104900.0,1495.0,106395.0,2023,Audi
1,RS e-tron GT quattro,143900.0,1495.0,145395.0,2023,Audi
2,Q8 e-tron,74400.0,1195.0,75595.0,2024,Audi
3,Q8 e-tron Sportback (Ultra pack),77800.0,1195.0,78995.0,2024,Audi
4,Q8 e-tron Sportback,77800.0,1195.0,78995.0,2024,Audi

In [53]:
csv_file_path = r'C:\Users\photo\Desktop\Ironhack\projects\EV-Market-Dynamics\data\ev_prices.csv'
ev_prices.to_csv(csv_file_path, index=False)